.fullbody{
    margin: 0;
}

.section1{
    background-color: #101313;
    color: white;
}


.index-video-wrapper {
    height: 100%;
    width: 100%;
    background: url() no-repeat center center;
    background-size: contain;
    background-attachment: fixed;
}

#index-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -100;
    right: 0;
    bottom: 0;
    background: url() no-repeat center center;
    background-size: ;
    overflow: hidden;
    background-attachment: fixed;
}
